.form-control {
  min-height: 80vh;
  max-height: 80vh;
  font-size:0.9rem;
}

.content{
  @media (max-width: $break-small) {
    margin:0;
  }
}
.content-bottom{
  margin-bottom: 45px;
}
.output{
  overflow: auto;
}

